body, html {
    margin: 0px;
    height: 100%;
}
.header button {
    background-color: rgba(0,0,0,0); /* Green background */
    border: 0px; /* Green border */
    color: white; /* White text */
    font-size:3vh;
    padding: .5vh 1vh; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.header {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 50%;
    background: rgba(34,34,34,0.75);
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: inline;
    animation: unfillTop 0.5s;
}
@keyframes fillTop {
    0% {
        width:50%;
    }
    100% {
        width:100%;
    }
}
@keyframes unfillTop {
    0% {
        width:100%;
    }
    100% {
        width:50%;
    }
}
.sticky {
    position: fixed;
    top: 0;
    bottom: revert;
    width: 100%;
    background: rgba(34,34,34,.975);

    animation: fillTop .5s;
}
.parallaxLaptop {
    position: relative;
    margin: 0px;
    /* The image used */
    background-image: linear-gradient(55deg, rgba(0,0,0,1), rgba(0,0,0,0.5)),url("BackgroundLaptop.jpg");

    /* Set a specific height */
    height: 40%;

    border-bottom-width: 1vh;
    border-bottom-style: solid;
    border-top-width: 1vh;
    border-top-style: solid;
    border-color: rgba(0,100,100,.5);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxProfilePicture {
    /* The image used */
    background-image: linear-gradient(55deg, rgba(0,0,0,1), rgba(0, 0, 100, 0.5)),url("ZachDurbinProfile.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #000;
    z-index: 1;
}
.caption span.border {
    background-color: #111111;
    color: #fff;
    padding: 1.5vh;
    font-size: 25px;
    letter-spacing: .4vw;
    z-index: 1;
}
.divTextbox {
    position: relative;
    background-image: linear-gradient(55deg, rgba(0,0,0,1), rgba(0, 100, 100, 0.5));

}